nav > a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 12px;
}
nav{
    background-color: slategray;
    padding:10px;

}
#Quem{
 background-color: #ffffff; 
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 50px 40px;
  max-width: 900px;
  margin: 40px auto;
  border-radius: 12px;
  font-family: 'Georgia', serif;
  color: #1a1a1a; 
  line-height: 1.8;

}